.resources__link {
  width: 270px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
}

.resources__link:hover {
  opacity: .5;

}
