.footer__column-link {
  text-decoration: none;
  font-size: 18px;
  font-family: 'InterFontRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: white;
  margin-bottom: 10px;
}

.footer__column-link:nth-of-type(3n) {
  margin-bottom: 0;
}
