.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-family: 'InterFontRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  margin-top: 0;
}
