.header__title {
  font-size: 102px;
  font-family: 'InterFontRegular', Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  align-self: center;
  margin-left: 64px;
}
