.header__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 2s;
}

.header__link:hover {
  opacity: .5;
}
