.header__subtitle {
  font-size: 18px;
  font-family: 'InterFontRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 25px;
  width: 730px;
  width: 388px;
  position: absolute;
  bottom: 0;
  left: 64px;
}
